
    
  .boton_personalizado{
    text-decoration: none;
    padding: 30px;
    font-weight: 500;
    font-size: 30px;
    color: #000000ee;
    background-color: #4c9be6;
    border-radius: 6px;
    border: 0px solid #000000;

  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #9ac6f0;
  }